name: Release Streamlit App
on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v2
            - name: Release on Render
              uses: JorgeLNJunior/render-deploy@v1.4.7
              with:
                  service_id: ${{ secrets.RENDER_SERVICE_ID }}
                  api_key: ${{ secrets.RENDER_API_KEY }}
                  wait_deploy: true